<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dogs Vs Cats</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
  </head>
  <body>
    <div class="container" style="text-align: center;">
      <h1>Dogs Vs Cats</h1>
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
       <input type="submit" value="Upload" />
      </form>
      {{ breed }}
    </div>
  </body>
</html>
